/* You can add global styles to this file, and also import other style files */
@import "~mdb-ui-kit/css/mdb.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}